.header {
  background-color: #141417;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  height: 120px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.header_title {
  --bg-size: 400%;
  margin: auto;
  font-size: 44px;
  background: linear-gradient(
      90deg,
      var(--color-three) 0%,
      var(--color-three) 16%,
      var(--color-three) 50%,
      var(--color-two) 58%,
      var(--color-three) 64%
    )
    0 0 / var(--bg-size) 100%;
  font-weight: bold;
  animation: move-bg 7s infinite linear;
  --bg-size: 400%;
  --color-two: rgb(40, 185, 112);
  --color-three: white;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.header_button_wrapper {
  margin: auto;
  display: flex;
  flex-direction: row;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}
